@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .container {
    @apply max-w-7xl px-4 self-center;
  }
}

.containerx {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .containerx {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .containerx {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .containerx {
      width: 1170px;
    }
  }

  
.text-gradient {

  
  background: linear-gradient(to right bottom,#fff 30%,hsla(0,0%,100%,.5));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: unset;
}

/* Enquire.module.css */

/* CSS for card carousel */
.card-carousel {
  overflow: hidden;
}

.card-carousel .cards-container {
  display: flex;
  transition: transform 0.5s ease;
}

.card-carousel .card {
  flex: 0 0 auto;
  width: 100%;
  margin-right: 20px; /* Adjust spacing between cards */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .card-carousel .card {
    margin-right: 0; /* Remove spacing between cards */
  }
}
